.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.font_settings_heading {
    color: white;
    font-family: 'JetBrains Mono';
}

.font_settings_paragraph {
    color: white;
    font-family: 'JetBrains Mono';
    font-size: 16px;
}

.font_settings_license {
    color: white;
    font-family: 'JetBrains Mono';
    font-size: 13px;
}
